body{
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background:linear-gradient(180deg, rgba(227, 255, 248, 0)
     82.08%, rgba(227, 255, 248, 0.38) 100%);

     height: 100vh;
}
.page{
    margin: 65px auto 0px;
    width: 1000px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul h1{
    font-family: 'Mulish', sans-serif;
}
ul{
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}
ul li a:hover{
    font-weight: bold;
    opacity: 1;
}main {
    margin: 58px auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#imgprincipal{
    width: 417px;
    height: 433;
}
.text {
    width: 489px;
    height: 332px;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;
}
h1{
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    font-weight: normal;
}
.text p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin-top: 40px;
}
button{
    margin-top: 40px;
    padding: 14px 32px 15px;
    background-color: #69B99D;
    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    color: #FFFFFF;
    text-transform: uppercase;

    cursor: pointer;
}
button:hover{
    background-color: #25ac7d;
}
footer {
    width: 592px;
    height: 28px;
    margin-top: 82;
    display: flex;
    justify-content: center;
    margin: 80px auto auto;
    font-family: 'Open Sans', sans-serif;
    color: #1F1534;
}
footer a{
    text-decoration: none;
    color: #1F1534;
    font-weight: bold;
}

#balls{
    position: fixed;
    bottom: 0;
    right: 0;
}